<!DOCTYPE html>
<html>
<head>
    <script src="~/app.js"></script>
    <meta charset="utf-8" />
   <div class="Top_navigation_bar">
       <a class="Load page" href="~/Home.cshtml"> Webpage</a>
       <a href="~/BlogSpot.cshtml"> BlogSpot</a>
       <a href="~/MileStone.cshtml"> MileStone structure</a


   </div>

   <span>
       <div class="Input_field">
            <ul>
                   <li title="Load Page"</li>
               </ul>
           <input class="Uri" id="Input_identifier" width="100px" height="=150px" />


           <button class="Register Page" id="Submit_Page_Request" onclick="GetsPageString()"</button>
              
       </div>
   </span>
     

    <title></title>
</head>
<body>

</body>
</html>