<!DOCTYPE html>
<html>
<head>
    <title id="Introduction Analysis"></title>


    <div class="Milestone1"
        <span>
            <ancrhor id="Problem_anchor"> Problem</ancrhor>

            <textarea id="problem description"> The problem here is the user wants to have a in line webscraper flexible on the web and mobile framkework with react. </textarea>


        <ancrhor id="Audience_anchor"> Problem</ancrhor>
        <textarea id="Audience_members"> The Audience members will be project managers only, simply because it is still in development in order to be cross platform. </textarea>
     <ancrhor id="User_Requirements"> Problem</ancrhor>
 <textarea id="Audience_members"> The user will simply need to have a fully-functoning device mobile or Laptop in order ro run html and javascript </textarea>


</span>
    </div>

</head>
<body>

</body>
</html>